/*element style*/

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}


/*li css*/

.double {
    width: 100%;
    float: left;
}

.single {
    width: 50%;
    float: left;
}


/*second tier css*/

.img-double {
    width: 50%;
    float: left;
}

.txt-double {
    width: 50%;
    float: right;
    display: block;
    text-align: center;
}

.img-left {
    width: 50%;
    float: left;
}

.txt-right {
    width: 50%;
    float: right;
    text-align: center;
}


.img-right {
    width: 50%;
    float: right;
}

.txt-left {
    width: 50%;
    float: left;
    text-align: center;
}