/*element style*/
html, body {
    max-width: 1280px;
    max-height: 981px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #2b2d2f;
}

p.p-double {
    margin-top: 3.5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 1.5em;
    color: #2b2d2f;
}


p.p-single { 
    margin-top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 1.5em;
    color: #2b2d2f;
}

a.a-double {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 45px;
    border-top: 1px solid #7f7973;
    margin-top: 2.5%;
    padding-top: 3%;
}

a.a-single {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    border-top: 1px solid #7f7973;
    margin-top: 5%;
    padding-top: 6%;
}

svg:hover {
    fill: #0086bb;
}

li.double {
    height: auto;
}

div.txt-double {
    height: 100%;
}


/*li css*/

.double {
    float: left;
}

.single {
    float: left;
    width: 50%;
}


/*second tier css*/

.img-double {
    width: 50%;
    float: left;
    height: auto;
}

.txt-double {
    width: 46%;
    padding-top: 6%;
    padding-left: 2%;
    padding-right: 2%;
    height: auto;
    float: right;
    display: block;
    text-align: center;
}

.img-left {
    width: 50%;
    float: left;
}

.txt-right {
    width: 42%;
    float: right;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 12%;
    height: 100%;
}


.img-right {
    width: 50%;
    float: right;
}

.txt-left {
    width: 42%;
    float: left;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 12%;
}

li:hover {
    background-color: #fff1e2;
}