/*element style*/
html, body {
    width: 100%;
    height: 100%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

p { 
    margin-top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 1.5em;
}

a {
    display: block;
    height: 20px;
    width: 30px;
    background-image: url(../images/twitter-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid #000;
    margin-top: 
}


/*li css*/

.double {
    width: auto;
    height: auto;
    float: left;
}

.single {
    width: 50%;
    float: left;
    height: auto;
}


/*second tier css*/

.img-double {
    width: 50%;
    float: left;
    height: auto;
}

.txt-double {
    width: 46%;
    padding-top: 6%;
    padding-left: 2%;
    padding-right: 2%;
    height: auto;
    float: right;
    display: block;
    text-align: center;
}

.img-left {
    width: 50%;
    float: left;
}

.txt-right {
    width: 42%;
    float: right;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 12%;
    height: 100%;
}


.img-right {
    width: 50%;
    float: right;
}

.txt-left {
    width: 42%;
    float: left;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 12%;
}

[class*=txt]:hover {
    background-color: #fff1e2;
}